body {
    display: block;
    background-color: white;
    font-family: 'Lato', sans-serif;
    margin: 70px
}

/* Header Nav */

.header {
    display: flex;
}


.me {
    
    flex-shrink: 0;
    margin-right: 3%;
    width: 100px;
    height: 100px;
    border-radius:  50%;  
}

.headerMenu {
    align-self: center;
    width: 100%;
}

.name {
    
    color: black;
    display: inline-block;
    font-size: 1.85rem;
    
    margin-bottom: 3%;
    text-transform: uppercase;
    font-weight: 600;
    
}

.navbar {
    
    flex-wrap: wrap;

}

.navItem {
    margin-right: 2%;
    color: black;
    font-size: 1.125rem;
    margin-top: 4%;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .0625rem;
}

a {
    text-decoration: none;
}

.navBar a {
    color: dimgray;
}
.navItem:hover {
    color:  rgb(95, 120, 165);
}

/* About Me */

.intro {
    flex-wrap: wrap; 
    margin-top: 5%;
    background-color: rgb(243, 243, 245);
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    padding: 40px;
}

.intro h1 {
    font-weight: 600;
    line-height: 120%;
}

/* Resume */

.resumeContent {
    margin-top: 5%;
    background-color: rgb(243, 243, 245);
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    padding: 40px;
} 

#education {
    list-style: none;
    padding: 0;
}

#skills {
    padding-left: 0;
    list-style-position: inside;
}

.education li:nth-child(1) {
    font-weight: bold;
    margin-bottom: 5px;
}

.education li:nth-child(2) {
    font-style: italic;
    margin-bottom: 5px;
}

.work ul {
    list-style: none;
    padding-left: 0;
    list-style-position: inside;
    
}

.work li {
    margin-bottom: 5px;
}

.work li:nth-child(1) {
    font-weight: bold;
}

.work li:nth-child(3) {
    font-style: italic;
}


.resume {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-template-areas: 
    "work summary"
    "work education"
    "work skills";
}


.grid-area {
    padding: 1em 1em 1em 1em;
    /* border: 1px black solid; */
}

.work {
    grid-area: work;
}

.summary {
    grid-area: summary;
}

.education {
    grid-area: education;
}

.skills {
    grid-area: skills;
}



/* Projects */

.projects {
    flex-wrap: wrap; 
    margin-top: 5%;
    background-color: rgb(243, 243, 245);
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    padding: 40px;
}


/* Contact Me */

.contact {
    /* flex-wrap: wrap; */
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(243, 243, 245);
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    padding: 40px;
}

.contactForm label {
    font-weight: bold;
}


input[type=text], [type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: dimgray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: rgb(95, 120, 165);
}

.contactForm {
    margin-top: 5%;
    margin-bottom: 5%;
}
.contactForm, .contact p {
    margin-left: 12%;
    margin-right: 12%;
}

.resumeContent h1,
.projects h1,
.contact h1 {
    text-align: center;
    text-transform: uppercase;
}